@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
html,
body {
    height: 100vh;
    /* margin: 0; */
    line-height: 1.4;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    font-family: "sen", sans-serif;
    background: var(--bodycolor);
    scroll-behavior: smooth;
    align-items: center;
    background-color: #FAF8ED;




}
body h5,P {
    font-family: "sen", sans-serif;
}
/* body p {
    font-family: "roboto", sans-serif;
} */


.line{
    width: 100px;
    height: 2px;
    background-color: burlywood;
    margin: auto;
}

.img-fluid{
    height: 300px;
    width: 350px !important;
    object-fit: cover;
}
.card{
    border:none;
    background-color: #FAF8ED;


}
.col {
    padding-left: 100px;
}
.col-md-8 {
    background-color: #FAF8ED;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 233px;
    position: absolute;
    left: 220px;
    width: 47.666667%!important;
    top: 38px;
    border-radius: 20px;
    

}
.col-md-8:hover {
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}
.col-md-4 {
    flex: 0 0 auto;
    width: 52.33333333% !important;
    border-radius: 20px;
    box-shadow: 3px 5px 5px rgb(101, 101, 101);
    

} 
.col-md-4:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px rgb(79, 79, 79);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}  
.bi{
    font-size: 25px !important;
    color: rgb(120, 120, 126);
    cursor: pointer;
}
.bi:hover{
    font-size: 25px !important;
    color: rgb(241, 120, 6);
    cursor: pointer;
}
/* extra */
/* extra animation */


.card-title{
    transition: 0.2s ease-in-out;
   
}

.card-title:hover {
    transition: 0.2s ease-in-out;
    font-weight: 600;
    transform: scale(1.07);
    color:#F66F4D;
}


.card h5 {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;

}

.card-title h5:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 0;

}

.card-title h5:hover:after {
    width: 100%;
    left: 0;

}



@media only screen and (max-width: 600px) {
    .col-md-8 {
        left: 0px;
        background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        top: 300px !important;
        width: 100%!important;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 100% !important;
    } 
    .img-fluid {
        width: 500px !important;
        height: 500px !important;
    }
    .col {
        padding-left: 10px;
    }
    .container{
        padding-bottom: 250px !important;
    }
  }